body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

/* HEADER */
header {
    background-color: #0f172a; /* azul oscuro */
    color: white;
    text-align: center;
    padding: 15px;
}

/* NAV */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav a {
    color: #60a5fa; /* azul */
    
}

/* CONTENIDO */
main {
    padding: 20px;
}

/* SECCIONES */
section {
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
}

/* TITULOS */
h2 {
    color: #17479d; /* azul 099 */
}

/* FOOTER */
footer {
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 10px;
}